h1{color: darkblue; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 300;}

#lista1{flood-color: coral; font-style: italic;}

#lista2{color: darkmagenta; font-family: inherit;}