#LetraTabla{font-family: fantasy;}

#Tabla1{border-color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

#Tabla2{color: indigo;font-family: unset;}

#Tabla3{color: aquamarine;}

#Tabla4{color-adjust: ; color: chocolate;}

#Tabla5{color: firebrick; font-family: initial;}

#Tabla6{color: teal; font-family: sans-serif;}

#Tabla7{color: beige; font-family: Arial, Helvetica, sans-serif;}

#Tabla8{color: cadetblue; font-family: Arial, Helvetica, sans-serif;}

#Tabla9{color: peru; font-style: oblique;}

#Tabla10{color-scheme: ;color: gold;}